@use '../global/colors' as *;
@use '../global/fonts' as *;
@use '../global/mixins' as *;

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  color: $gainsboro;
  @include opensans(3rem);
  @include text-center-in-container;
}
