@use '../global/colors' as *;
@use '../global/fonts' as *;
@use '../global/mediaqueries' as *;
@use '../global/mixins' as *;

.container {
  height: 100%;
  overflow: hidden scroll;
  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid $jet;
    background-color: $eerie-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      @include padauk(3rem);
      color: $gainsboro;
    }
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      overflow-x: scroll;
      padding-left: 0;
      width: 90%;
      list-style: none;
      @include up-to(tablet) {
        flex-direction: column;
        overflow-x: hidden;
      }
    }
  }
  &__noresults {
    margin: 0 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: $gainsboro;
    @include text-center-in-container;
  }
}
