@use '../global/colors' as *;
@use '../global/fonts' as *;

.container {
  height: 100vh;
  overflow: clip scroll;
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid $jet;
    background-color: $eerie-black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    @include padauk(3rem);
    color: $gainsboro;
  }
  ul {
    display: flex;
    list-style: none;
  }
}
